.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20rem;
    height: 40rem;
    margin-left: 35rem;
    gap: 0rem;
    margin-top: 0rem;
}
.home-img .services-box1{
    flex: 1 1 30rem;
    background: #323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    width: 10rem;
    text-align: center;
    border: .2rem solid #1f242d;
}
.services-box1 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 2rem;
    margin-top: 3rem;
}
.services-box1 h3{
    font-size: 1.5rem;
    color: white;
}
.services-box1 p{
    margin-top: 2rem;
    color: white;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #0ef;
    width: 45%;
    align-items: center;
    border-radius: 4rem;
    font-size: 1rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
    box-shadow: none;
}
.services-box1 a{
    text-decoration: none;
}
@media screen and (max-width:450px) {
    .home-img {
        min-width: 10rem;
        margin: 60px auto;
    }
  }