body {
    display: flex;
    height: 158vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.container {
    max-width: 600px;
    width: 70%;
    height: 80%;
    background:  #323946;
    padding: 25px 20px;
    border-radius: 10px;
    border: .2rem solid #1f242d;
}

    .container .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
        color: white;
    }

        .container .title::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background: linear-gradient(135deg, #0ef, #323946);
        }

    .container form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
        color: white;
    }

form .user-details .input-box {
    margin-bottom: 25px;
    width: calc(100% / 2 - 20px);
    margin-right: -35px;
}

.user-details .input-box .details {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 40px;
    width: 80%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box select{
    height: 40px;
    width: 85%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
    .user-details .input-box input:valid {
        border-color: #0ef;
    }

form .button {
    height: 45px;
    margin: -5px 0;
}

form .button input {
    height: 100%;
    width: 20%;
    outline: none;
    margin-top: -12rem;
    margin-left: 14rem;
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: .5s ease;
    background: #0ef;
}

    form .button input:hover {
        box-shadow: none;
    }

.password-container {
    
    align-items: center;
    
}

.password-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-toggle {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

    .password-toggle i {
        font-size: 20px;
        color: #666;
    }

        .password-toggle i:hover {
            color: #333;
        }


         .captcha {
            margin:15px 0px;
          }
        .captcha .preview {
            color:#0ef;
            width:100%;
            text-align:center;
            height:40px;
            line-height:40px;
            letter-spacing:8px;
            border:1px dashed #888;
            border-radius: 4px;
            font-family:"monospace";
          }
          .captcha label {
            font-weight: 600;
          }
        .captcha .preview span {
            display:inline-block;
            user-select:none;
          }
        .captcha .captcha-form {
            display:flex;
          }
        .captcha .captcha-form input {
            width:100%;
            height: 25px;
            outline: none;
            font-size: 15px;
            padding:8px;
            border-radius: 4px;
            border:1px solid #888;
          }
        .captcha .captcha-form .captcha-refresh {
            width:40px;
            border:none;
            outline:none;
            background:#888;
            border-radius: 4px;
            color:#eee;
            cursor:pointer;
          }
          


        .straight i {
            position: relative;
            display: block;
            margin-top: 3rem;
            width: 600px;
            height: 300px;
            overflow: hidden;
            border-radius: 5px;
        }
        
        .straight i:before,.straight i:after {
            content: '⥪';
            position: absolute;
            top: 50%;
            left: 1rem;
            z-index: 2;
            width: 2rem;
            height: 2rem;
            background: dodgerblue;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
        }
        
        .straight i:after {
            content: '⥭';
            left: auto;
            right: 1rem;
        }
        
        /* I haven't found a way for IE and Edge to let me style inputs that way */
        .straight input {
            appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateX(100%);
            transition: transform ease-in-out 400ms;
            z-index: 1;
        }
        
        .straight input:focus {
            outline: none;
        }
        
        .straight input:after {
            content: attr(title);
            position: absolute;
            top: 1rem;
            left: 1rem;
            background-color: rgba(0,0,0,0.4);
            color: white;
            padding: .5rem;
            font-size: 1rem;
            border-radius: 5px;
        }
        
        .straight input:not(checked):before {
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            top: 50%;
            left: calc(-100% + 1rem);
        }
        
        .straight input:checked:before {
            display: none;
            left: 1rem;
        }
        
        .straight input:checked {
            transform: translateX(0);
            pointer-events: none;
            z-index: 0;
            box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
        }
        
        .straight input:checked + input:before {
            left: -3rem;
        }
        
        .straight input:checked + input ~ input:before {
            display: none;
        }
        

        @media (max-width: 600px) {
            .container {
               margin-top: 10rem;
               margin-left: 0rem; 
              height: 176vh;  
              width: 100%;
            }
            form .button input{
                width: 35%;
                margin-top: -7rem;
            }
            form .user-details .input-box {
            
                margin-bottom: 5px;
                width: calc(80% / 1 - 20px);
            }
            .container .title {
                font-size: 20px;
                font-weight: 600;
                position: relative;
            }
            .password-container{
                width: 13.4rem;
            }
            .user-details .input-box {
                width: 14rem;
            }
            
            .captcha .captcha-form input{
                width: 8rem;
            }

            form .button input{
                margin-left: 105px;
            }

            .straight i{
                margin-left: 3px;
                width: 18rem;
            }
            
          }

          @media  (max-width: 450px) {
            .user-details .input-box{
                width: 14rem;
            }
          }
          
